<div class="container-fluid">
    <form role="form">
        <div class="form-group row ng-class:{ 'has-error': errors.title, 'has-feedback': errors.title}" >
            <label for="title" class="col-sm-2 form-control-label">Title:</label>
            <div class="col-sm-10">
                <input type="text-muted" class="form-control" ng-model="title">
                <span class="control-label" ng-show="errors.title">{{errors.title}}</span>
            </div>
        </div>

        <div class="form-group row ng-class:{ 'has-error': errors.url, 'has-feedback': errors.url}">
            <label for="url" class="col-sm-2 form-control-label">Url:</label>
            <div class="col-sm-10">
                <input type="text-muted" class="form-control" ng-model="url">
                <span class="control-label" ng-show="errors.url">{{errors.url}}</span>
            </div>
        </div>
        <div class="form-group row ng-class:{ 'has-error': errors.message, 'has-feedback': errors.message}">
            <label for="message" class="col-sm-2 form-control-label">Message:</label>
            <div class="col-sm-10">
                <input type="text-muted" class="form-control" ng-model="message">
                <span class="control-label" ng-show="errors.message">{{errors.message}}</span>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
    </form>
</div>