<div class="container-fluid">
        <div ng-repeat="ask in asks track by $index">
            <submission-component item="ask" position="$index + 1"></submission-component>
        <hr>
        </div>
</div>