<div class="container-fluid">
    <h3>What are hackers thinking? </h3>
        <div ng-repeat="sub in submissions | orderBy: '-created_at' track by $index">
            <submission-component item="sub" position="$index + 1"></submission-component>
        <hr>
        </div>
</div>