<div class="container-fluid">
    <div ng-repeat="singleNews in news track by $index">
        <submission-component item="singleNews" position="$index + 1"></submission-component>
    <hr>
    </div>
</div>