<div class="container-fluid">
    <div ng-if="sub">
        <submission-component item="sub" show="true"></submission-component>

        <div class="row" ng-show="$parent.isAuth">
            <form name="makeReply" class="col-lg-4">
                <div class="form-group">
                    <input type="text" ng-model="$parent.commentText" placeholder="Please write your comment" class="form-control" id="comment">
                </div>

                <div class="text-danger" ng-show="error">
                    {{error}}
                </div>

                <input class="button btn btn-success" type="submit" ng-click="makeComment()" value="Add a comment" />

            </form>
        </div>

    </div>


    <hr>


    <p>
        <div ng-repeat="com in comments">
            <comment-component item="com" show="false" under="true"></comment-component>
            <br>
        </div>
    </p>




</div>
