    <vote item="$ctrl.com" submission="false"></vote>
    <a style="color:black;" href="#" ng-click="$ctrl.goToProfile()" > {{$ctrl.com.user_name}} </a>
    <a style="color:black;" href="#" ng-click="$ctrl.goToComment()"> {{$ctrl.com.created_at | timeago}}</a>
    <a ng-show="!$ctrl.under" style="color:black;" href="#" ng-click="$ctrl.goToParent()"> | Parent</a>
    <a ng-show="!$ctrl.show && !$ctrl.under" style="color:black;" href="#" ng-click="$ctrl.goToSubmission()"> | on: {{$ctrl.on}} </a>
    
    <br>
    
    {{$ctrl.com.message}}
    
    <br>
    <a href="#" ng-click="$ctrl.goToComment()" value="Reply" ng-show="$ctrl.under && $ctrl.isAuth">Reply</a> 

   <div class="row" ng-show="$ctrl.show && !$ctrl.com.parent_id && $ctrl.isAuth">
    <form class="col-lg-4">
        <div class="form-group">
            <input type="text" ng-model="$ctrl.replyText" placeholder="Please write your reply" class="form-control" />
        </div>
        <div class="text-danger" ng-show="error">
            {{error}}
        </div>
        <input class="button btn btn-success" type="submit" ng-click="$ctrl.writeReply()" value="Reply" />
    </form>
    <div class="text-danger" ng-show="error">
      {{error}}
    </div>
    
    <div style="{color:green;}"  ng-show="$ctrl.message">{{$ctrl.message}}</div>
  </div>    
  <hr ng-show="!$ctrl.under">

  <div ng-repeat="reply in $ctrl.replies">
    <div style="padding-left: 20px; margin-top:10px;">
      <reply-component item="reply" fullshow="!$ctrl.under" subid="$ctrl.com.submission_id"}></reply-component>
    </div>
  </div>
        <hr ng-show="!$ctrl.show && $ctrl.under"> 