<nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">

            <li ui-sref-active="active">
                <a class="navbar-brand" ui-sref="submissions">HackerNews</a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="asks">Asks</a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="news">News</a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="comments">Comments</a>
            </li>
            <li ui-sref-active="active" ng-show="ctrl.currentUser">
                <a ui-sref="threads">Threads</a>
            </li>

            <!-- To Update -->
            <li ui-sref-active="active" ng-show="ctrl.currentUser">
                <a ui-sref="submit">Submit</a>
            </li>

        </ul>


        <ul class="nav navbar-nav pull-right">
            <li>
                <a ng-show="!ctrl.currentUser" href="#" ng-click="ctrl.login()">Log in</a>
            </li>
            <li>
                <a ng-show="ctrl.currentUser" href="#" ng-click="ctrl.logout()">Log out</a>
            </li>
            <li ng-show="ctrl.currentUser">
                <a ui-sref="profile({id:ctrl.currentUser.id})">
                    <b> Hi /o {{ctrl.currentUser.name}} </b>
                    <img class="pull-right img-circle " style="width:40px; height:40px; margin-right:-7px; margin-left:10px; margin-top:-10px" ng-src="{{ctrl.currentUser.picture}}">
                    </img>
                </a>
            </li>
            
            <li ng-show="ctrl.currentUser">

            </li>

        </ul>
</nav>
