<p>
    <vote item="$ctrl.reply" submission="false"></vote>
    <a style="color:black;" href="#" ng-click="$ctrl.goToProfile()" > {{$ctrl.reply.user_name}} </a>
    <a style="color:black;" href="#" ng-click="$ctrl.goToComment()"> {{$ctrl.reply.created_at | timeago}}</a>
    <a ng-show="$ctrl.fullshow" style="color:black;" href="#" ng-click="$ctrl.goToParent()"> | Parent</a>
    <a ng-show="$ctrl.fullshow" style="color:black;" href="#" ng-click="$ctrl.goToSubmission()"> | on: {{$ctrl.on}} </a>
    <br>
    {{$ctrl.reply.message}}
</p>