<div class="row">
    <p>{{$ctrl.position}}

        <vote item="$ctrl.sub" submission="true"></vote>
        
        <a href="#" style="color:black;">
            <b ng-click="$ctrl.goToSubmission()"> 
            {{$ctrl.sub.title}}
        </b>
        </a>

        <a ng-show="$ctrl.sub.url" ng-href="{{$ctrl.sub.url}}" target="_blank"> ({{$ctrl.sub.url}}) </a>
    </p>
    <span>
    {{$ctrl.sub.points}} points by 
    <a style="color:black;" href="#" ng-click="$ctrl.goToProfile()"> {{$ctrl.sub.user_name}} </a>
    <a style="color:black;" href="#" ng-click="$ctrl.goToDiscuss()"> {{$ctrl.sub.created_at | timeago}}</a> | 
    <a ng-show="$ctrl.show" style="color:black;" href="#" ng-click="$ctrl.goToDiscuss()"> {{$ctrl.numbercomments}} comments  </a> <!-- falta sumar el nombre de replies per cada comment i posar discuss si comments.length = 0 -->
    <a ng-show="!$ctrl.show" style="color:black;" href="#" ng-click="$ctrl.goToDiscuss()"> {{$ctrl.sub.comments}} comments  </a>
</span>

    <p ng-show="$ctrl.show">
        {{$ctrl.sub.message}}
    </p>
</div>
