<div class="container-fluid">
    <div class="col-lg-6">
        <img ng-src={{$ctrl.user.picture}} style="width:450px; height:450px" class="img-circle"></img>
    </div>

    <div class="col-lg-6">

        <div class="row inline">
            <h1>
            <span class="label label-info" >{{$ctrl.user.name}}</span> 
            </h1>

            <h1>
            <span class="label label-success">{{$ctrl.user.submissions}} submissions</span>
            </h1>

            <h1>
                
                <span class="label label-danger">{{$ctrl.user.comments}}
                comments
                </span>
        </div>

        <div ng-show='$ctrl.canupdate'>
            <div class="row ">
                <h1> 
                    <span class="label label-warning"> Id:   {{$ctrl.user.id}}  </span>
                </h1>
        </div>
        <div class="row ">
            <h4>
                    <p class="label label-default"> Api-key: {{$ctrl.user['api-key']}} </p>
        
                        </h4>

            <button class="btn btn-default" clipboard supported="supported" text="$ctrl.user['api-key']" on-copied="" on-error="">Copy api-key</button>
        </div>


        <div class="row">
            <form class="form-horizontal col-lg-12">
                <div class="form-group">
                    <label> About</label>
                    <textarea class="form-control" ng-model="$ctrl.user.about" min-rows="5"></textarea>
                    <button type="submit" class="btn btn-success btn-block" ng-click="$ctrl.updateAbout()">Update</button>
                </div>
            </form>
        </div>
        <div class="text-success" ng-show="$ctrl.message">{{$ctrl.message}}</div>
        </p>
    </div>
    <div ng-show="!$ctrl.canupdate" style="border-style: dashed; border-radius: 10px; border-color:gray">
        <h3 style="word-break: break-word;word-wrap: break-word;"> 
                    <span > 
                    {{$ctrl.user.about}}  </span>
                </h3>
    </div>
</div>
</div>
</div>