<a ng-show="$ctrl.currentUser" href="#" style="color:black;  text-decoration: none" ng-click="$ctrl.vote()">
    <span ng-show="$ctrl.item.hasBeenUpvoted && !$ctrl.isFromUser" class="glyphicon glyphicon-triangle-top text-success"> </span>
    <span ng-show="!$ctrl.item.hasBeenUpvoted && !$ctrl.isFromUser" class="glyphicon glyphicon-triangle-top"> </span>
</a>
<span ng-show="$ctrl.isFromUser" class="glyphicon glyphicon-certificate text-muted"> </span>
